@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding: 0;

  width: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
  
}

.Home{
  min-height: 100vh;
  width: 100vw;
}

.bx.bx-chevron-down,
.bx.bxs-briefcase,
.bx.bxs-graduation{
  font-size: 2rem;
}

.grid-container{
  display: grid;
  grid-template-columns: 40% 60%;
}

@layer components{
  .navBtn{
    @apply px-4 py-2 shadow-xl border border-purple-600 rounded-lg hover:-translate-y-1 transition-all;
  }
}

